---
layout: base
---

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1 vcenter idxHdr">
      <div style='font-size: 2em; color: #4582ec; font-weight: bold; padding-bottom: 0.3em;'>Son Tran</div>

      {% comment %} <div style='font-size: 1.2em;'> {% endcomment %}
      {% comment %}   Research Scientist {% endcomment %}
      {% comment %} </div> {% endcomment %}
      {% comment %} <div style='font-size: 1.2em'> {% endcomment %}
      {% comment %}   <a href="https://research.fb.com/category/facebook-ai-research/">Facebook AI (FAIR)</a> {% endcomment %}
      {% comment %} </div> {% endcomment %}
      {% comment %} <br/> {% endcomment %}

      <div style="padding: 0.3em; background-color: #4582ec; display: inline-block; border-radius: 4px; font-size: 1.2em;">
        <a href="data/cv.pdf" target='_blank' style='text-decoration: none;'>
          <i style='color: white' class="fa fa-download"></i>
        </a>
        {% comment %} <a href="https://github.com/samtron1412/cv" target='_blank' style='text-decoration: none;'> {% endcomment %}
        {% comment %}   <i style='color: white' class="fa fa-code-fork"></i> {% endcomment %}
        {% comment %} </a> {% endcomment %}
        <a href="data/cv.pdf" target='_blank' style='color: white; text-decoration: none;'>CV</a>
      </div>

      <div style="padding: 0.3em; background-color: #4582ec; display: inline-block; border-radius: 4px; font-size: 1.2em;">
        <a href="data/resume.pdf" target='_blank' style='text-decoration: none;'>
          <i style='color: white' class="fa fa-download"></i>
        </a>
        <a href="data/resume.pdf" target='_blank' style='color: white; text-decoration: none;'>Resume</a>
      </div>

      <ul class="list-inline idxIcons" style='font-size: 1.9em; margin-top: 0.5em;'>
        <li>
          <a href="http://github.com/samtron1412" target="_blank">
            <i class="fa fa-lg fa-github"></i></a>
        </li>
        <li>
          <a href="http://twitter.com/samtron1412" target="_blank">
            <i class="fa fa-lg fa-twitter"></i></a>
        </li>
        <li>
          <a href="http://www.linkedin.com/in/samtron1412" target="_blank">
            <i class="fa fa-fw fa-linkedin"></i></a>
        </li>
        {% comment %} <li> {% endcomment %}
          {% comment %}   <a href="https://scholar.google.com/citations?user=d8gdZR4AAAAJ" target="_blank"> {% endcomment %}
            {% comment %}     <i class="ai ai-google-scholar"></i></a> {% endcomment %}
          {% comment %} </li> {% endcomment %}
        <li>
          <a href="/atom.xml" target="_blank">
            <i class="fa fa-rss"></i></a>
        </li>
      </ul>

    </div>
    <div class="col-md-2 vcenter idxHdr">
      <a href="/images/me-large.jpg">
        <img src="/images/me.jpg"
             style="border-radius: 20px; margin: 10px; max-width: none;"
             alt="Me."/>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ content }}
    </div>
  </div>
</div>
